<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="../script/script.js" defer></script>
        <script src="https://kit.fontawesome.com/052f0d8aba.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <link rel="stylesheet" type="text/css" href="../css/camera.css">
        <link rel="stylesheet" type="text/css" href="../css/roomdb.css">
        <link rel="stylesheet" type="text/css" href="../css/database.css">
        <link rel="stylesheet" type="text/css" href="../css/covid.css">
        <link rel="stylesheet" type="text/css" href="../css/add.css">
        <link rel="stylesheet" type="text/css" href="../css/edit.css">
        <link rel="stylesheet" type="text/css" href="../css/delete.css">
        <title>CTFR</title>
    </head>
    <body>
        <div class="container">
            <ul class="dashboard-pane">
                <li data-tab-target="#camera-pane" class="active dashboard-tab">
                    <i class="fas fa-camera"></i>
                </li>
                <li data-tab-target="#room-pane" class="dashboard-tab">
                    <i class="fas fa-table"></i> 
                </li>
                <li data-tab-target="#database-pane" class="dashboard-tab">
                    <i class="fas fa-database"></i> 
                </li>
                <li data-tab-target="#covid-pane" class="dashboard-tab">
                    <i class="fas fa-file"></i> 
                </li>
            </ul>
            <div class="dashboard-container" id="dashboard-container">
                <!-- Main Camera Pane -->
                <div id="camera-pane" class="active camera-pane" data-tab-content>
                    <div class="title">
                        <h1>Camera section</h1>
                    </div>
                    <div class="camera-db">
                        <div class="generate__student__room">
                            <div class="student__info" id="student__info">
                                <p class = "header_stud">Student Information</p>
                                <div class="student__info__context" id="student__info__context">

                                </div>
                            </div>
                            <div class="student__info__room">
                                <div class="filter__group">
                                    <input type="text" required class="search__room" id="search__room" onkeyup="roomFilter()">
                                    <label>Room</label>
                                </div> 
                                <ul class="classrooms" id="classrooms">
                                    <li class="room__number" room-target>
                                        <p>COS 320</p>
                                    </li>
                                    <li class="room__number" room-target>
                                        <p>COS 316</p>
                                    </li>
                                    <li class="room__number" room-target>
                                        <p>COS 319</p>
                                    </li>
                                    <li class="room__number" room-target>
                                        <p>CLA 217</p>
                                    </li>
                                    <li class="room__number" room-target>
                                        <p>CLA 225</p>
                                    </li>
                                    <li class="room__number" room-target>
                                        <p>CLA 210</p>
                                    </li>
                                    <li class="room__number" room-target>
                                        <p>CIT 113</p>
                                    </li>
                                    <li class="room__number" room-target>
                                        <p>CIT 205</p>
                                    </li>
                                    <li class="room__number" room-target>
                                        <p>CIT 207</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="camera__table__buttons">
                            <button class="camera__generate__button disable" id="camera__generate__button" onclick="fetch_name()">GENERATE</button>
                            <button onclick="appendRoom()">APPEND</button>
                        </div>
                        <div class="temp__camera__table">
                            <table id="temp__db__table">
                                <thead class="temp__db__header">
                                    <tr class="temp__row">
                                        <th class="temp__header__cell">Actions</th>
                                        <th class="temp__header__cell">Room No.</th>
                                        <th class="temp__header__cell">Student Name</th>
                                        <th class="temp__header__cell">Date</th>
                                        <th class="temp__header__cell">Time</th>
                                    </tr>
                                </thead>
                                <tbody id="tempList">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="camera-container">
                        <div class="camera__screen" id="camera__screen">
                            
                        </div>
                        <div class="camera__buttons__container">
                            <button id="open__camera" class="camera__button" onclick='open__camera()'><text>Open Camera</text></button>
                            <button id="close__camera" class="camera__button" onclick='close__camera()'><text>Close Camera</text></button>
                        </div>
                    </div>
                </div>

                <!-- Room History Database -->
                <div id="room-pane" class="room-pane" data-tab-content>
                    <div class="title">
                        <h1>Room section</h1>
                    </div>
                    <div class="room-db-input">
                        <div class="room-db__filter__title__container">
                            <div class="db__filter__title">
                                <h2>Room No.</h2>
                            </div>
                            <div class="db__filter__title">
                                <h2>Name</h2>
                            </div>
                            <div class="db__filter__title">
                                <h2>Date From</h2>
                            </div>
                            <div class="db__filter__title">
                                <h2>Date To</h2>
                            </div>
                        </div>
                        <div class="room-db__filter__input__container">
                            <div class="db__filter__group">
                                <div class="filter__group">
                                    <input type="text" required class="room__filter__room" id="room__filter__room" onkeyup="roomRoomFilter()">
                                    <label>Room No.</label>
                                </div> 
                                <div class="filter__group">
                                    <input type="text" required class="room__filter__name" id="room__filter__name" onkeyup="roomStudentFilter()">
                                    <label>Name</label>
                                </div>    
                                <div class="filter__group">
                                    <input id="dateFrom" type="date" required class="room__filter__date" id="room__filter__date">
                                </div>    
                                <div class="filter__group">
                                    <input id="dateTo" type="date" required class="room__filter__date" id="room__filter__date" onchange="dateFilter()">                                    
                                </div>    
                            </div> 
                            <div class="db__buttons__container">
                                <div class="db__buttons">
                                    <button class="refresh__button" onclick="get_rooms()">Refresh</button>
                                </div>
                                <div class="db__buttons">
                                    <button class="refresh__button" onclick="print_rooms()">Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="room__db__table">
                        <table id="room__table">
                            <thead class="room__header">
                                <tr class="row__head">
                                    <th class="room__header__cell__actions">Actions</th>
                                    <th class="room__header__cell">Room No.</th>
                                    <th class="room__header__cell">User ID</th>
                                    <th class="room__header__cell">Student Name</th>
                                    <th class="room__header__cell">Date</th>
                                    <th class="room__header__cell">Time</th>
                                </tr>
                            </thead>
                            <tbody id="roomList">

                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- User Database -->
                <div id="database-pane" class="database-pane" data-tab-content>
                    <div class="title">
                        <h1>Database</h1>
                    </div>
                    <div class="db__input" id="db__input">
                        <div class="db__filter__title__container">
                            <div class="db__filter__title">
                                <h2>Email</h2>
                            </div>
                            <div class="db__filter__title">
                                <h2>Name</h2>
                            </div>
                            <div class="db__filter__title">
                                <h2>Covid Status</h2>
                            </div>
                        </div>
                        <div class="db__filter__input__container">
                            <div class="db__filter__group">
                                <div class="filter__group">
                                    <input type="text" required class="filter__email" id="filter__email" onkeyup="emailFilter()">
                                    <label>Email</label>
                                </div> 
                                <div class="filter__group">
                                    <input type="text" required class="filter__name" id="filter__name" onkeyup="nameFilter()">
                                    <label>Name</label>
                                </div>       
                                <div class="filter__group">
                                    <input type="text" required class="filter__covid" id="filter__covid" onkeyup="covidFilter()">                                                                                
                                    <label>Covid Status</label>
                                </div>                    
                            </div>
                            <div class="db__buttons__container">
                                <div class="db__buttons">
                                    <button class="add__user" onclick="addWindow()">Add user</button>
                                </div>
                                <div class="db__buttons">
                                    <button class="refresh__button" onclick="get_users()">Refresh</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="db__table__container">
                        <table id = "db__table">
                            <thead class="db__header">
                                <tr class="row__head">
                                    <th class="db__header__cell__actions">Actions</th>
                                    <th class="db__header__cell">ID</th>
                                    <th class="db__header__cell">Username</th>
                                    <th class="db__header__cell">Email</th>
                                    <th class="db__header__cell" id="header__name" onclick='sortTable(0)'>Name</th>
                                    <th class="db__header__cell">Contact No.</th>
                                    <th class="db__header__cell">Age</th>
                                    <th class="db__header__cell">Vaccination Status</th>
                                    <th class="db__header__cell">Address</th>
                                    <th class="db__header__cell">Covid Status</th>
                                </tr>
                            </thead>
                            <tbody id="userList">
                                
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- COVID Details -->
                <div id="covid-pane" class="covid-pane" data-tab-content>
                    <div class="title"><h1>COVID Details</h1></div>
                    <div class="covid-notif-request" id="covid-notif-request"></div>
                    <div class="covid-container"><div class="covid-result" id="covid-result"></div></div>
                    <div class="covid-notif-positive" id="covid-notif-positive"></div>
                </div>
            </div>

            <!-- End -->
            
            <!-- Modal forms Room -->
            <div class="room__delete__window" id="room__delete__window">
                <div class="room__delete__content">
                    <div class="room__delete__title"><h1>Delete this row?</h1></div>
                    <div><p>Are you sure that you want to permanently delete this file?</p></div>
                    <div class="room__delete__buttons">
                        <button class="room__delete__confirm" type="submit" onclick="confirmRoomDelete()">CONFIRM</button>
                        <button class="room__delete__cancel" id="delete__cancel" onclick="deleteRoomCancel()">CANCEL</button>
                    </div>
                </div>
            </div>
            <!-- End -->
            <!-- Modal forms Database -->

            <!-- Add Modal -->
            <div class="add__window" id="add__window"></div>

            <!-- Edit Modal -->
            <div class="edit__window" id="edit__window">
                <div class="edit__content">
                    <div class="edit__title">
                        <h1>Edit Information</h1>
                    </div>
                    <form class="edit__form" name="edit__form" id="edit__form" method="PATCH" action="">
                        
                    </form>
                    <div class="edit__buttons">
                        <button class="edit__confirm" type="submit" onclick="confirmButton()">CONFIRM</button>
                        <button class="edit__cancel" id="edit__cancel" onclick="editCancel(0)">CANCEL</button>
                    </div>
                </div>
                <div class="edit__confirm__window" id="edit__confirm__window">
                    <div class="edit__confirm__content" id="edit__confirm__content">
                        <div><p>Do you wish to continue and save the information you edited?</p></div>
                        <div class="edit__buttons">
                            <button class="edit__confirm__yes" onclick="confirmUpdate()">CONFIRM</button>
                            <button class="edit__confirm__no" onclick="editCancel(1)">CANCEL</button>
                        </div>
                    </div>
                </div>
                <div class="edit__cancel__window" id="edit__cancel__window">
                    <div class="edit__cancel__content" id="edit__cancel__content">
                        <div><p>Changes you've made will not be saved. Do you want to cancel and go back?</p></div>
                        <div class="edit__buttons">
                            <button class="edit__cancel__yes" onclick="confirmCancel()">CONFIRM</button>
                            <button class="edit__cancel__no" onclick="editCancel(2)">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="delete__window" id="delete__window">
                <div class="delete__content">
                    <div class="delete__title"><h1>Delete a user</h1></div>
                    <div><p>Are you sure that you want to permanently delete this file?</p></div>
                    <div class="delete__buttons">
                        <button class="delete__confirm" type="submit" onclick="confirmDelete()">CONFIRM</button>
                        <button class="delete__cancel" id="delete__cancel" onclick="deleteCancel()">CANCEL</button>
                    </div>
                </div>
            </div>

            <!-- End -->
            <!-- Modal forms Covid -->
            <div class="delete__covid__window" id="delete__covid__window"></div>

            <!-- Approve modal -->
            <div class="approve__covid__window" id="approve__covid__window"></div>
            <!-- End -->

            <!-- Popup modal-->
            <div class="modal__content" id="modal__content">
                <div class="modal__content__info" id="modal__content__info"></div>
            </div>
            <!-- END-->
        </div>
        <script src='../script/pymongo.js'></script>
        <script src='../script/database/room.js'></script>
        <script src='../script/camera.js'></script>
        <script src='../script/filter.js'></script>
        <script src='../script/sort.js'></script>
        <script src='../script/database/add.js'></script>
        <script src='../script/database/edit.js'></script>
        <script src='../script/database/delete.js'></script>
        <script src='../script/covid/covid.js'></script>
    </body>
</html>