.covid-pane {
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.05fr 1fr;
    grid-template-areas: 
        'title title'
        'covid-notif covid-container';
    padding: 15px;
    gap: 15px;
    height: 100vh;
}

.covid-notif {
    grid-area: covid-notif;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #b6b6b6;
    background-color: white;
}

.covid-container {
    grid-area: covid-container;
    width: 100%;
    max-height: 1fr;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #b6b6b6;
    background-color: white;
}

.covid-row {
    border-radius: 2px;
    border: 1px solid;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Poppins', 'monospace';
}

.covid-row-icon {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.covid-row-context {
    justify-content: center;
    width: 70%;
}

.covid-row-title h2 {
    font-size: 14px;
}

.covid-row-id p{
    font-size: 12px;
}

.covid-row-name p {
    font-size: 12px;
}

.covid-row:hover {
    background-color: #b6b6b6;
    transition: 0.075s ease-in;
}

.covid-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 15px;
    overflow-y: auto;
    max-height: 646px;  
}

.covid-result-image {
    display: flex;
    justify-content: center;
}

.covid-result h1 {
    font-family: 'Poppins', monospace;
}

.covid-result p {
    font-family: 'OpenSans', monospace;
}

.covid-result-image img {
    max-width: 260px;
    height: auto;
    border: 3px solid;
    border-radius: 10px;
}

.covid-result-context {
    width: 300px;
}

.covid-result-context h1, p {
    font-size: 14px;
}

.covid-status {
    font-weight: bold;
    color: red;
}

.covid-result-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px;
}

.covid-result-button {
    display: flex;
}

.covid-button {
    width: 200px;
    height: 35px;
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.covid-button:hover {
    background-color: #b6b6b6;
}

.delete__covid__window {
    font-family: 'Poppins', 'monospace';
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.delete__covid__content {
    background-color: white;
    position: fixed;
    width: 420px;
    height: 180px;
    padding: 10px 20px 0 25px;
    border-radius: 10px;
}

.delete__covid__title {
    font-size: 15px;
    padding: 0 0 5px 0;
}

.delete__covid__buttons {
    margin: 15px 0 30px 0;
}

.delete__covid__confirm {
    border: none;
    color: white;
    width: 46.5%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #339900;
    float: left;
}

.delete__covid__cancel {
    border: none;
    color: white;
    width: 46.5%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: #cc3300;
    float: right;
}

.delete__covid__confirm:hover {
    background-color: #99cc33;
}

.delete__covid__cancel:hover {
    background-color: #ff4101;
}