{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'directories/css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'directories/css/home.css' %}">
        <title>CTFR</title>
    </head>
    <body>
        <div class="main-container">
            <div class="main-header">
                <div class="header-title">
                    CTFR
                </div>
            </div>
            <main>
                {% block content %}{% endblock content %}
            </main>
        </div>
    </body>
</html>