* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: dashboard content;
    height: 100vh;
    background-color: #ECEFF1;
}

.dashboard-pane {
    grid-area: dashboard;
    width: 100%;
    height: 100%;
    background-color: #263238;
    color: white;
}

.camera-tab {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CFD8DC;
}